{% block header %}
<div class="container-fluid d-none d-md-block">
  <div class="row">
    <div class="col-5">
      <div class="card border-0 special-card">
        <div class="card-body">
          <div class="media">
            <a class="media-left waves-light d-none d-md-block">
              <figure class="image is-128x128">
                <img class="is-rounded" src="../static/images/herzen-logo-small-orig.png">
              </figure>
            </a>
            <div class="media-body d-none d-xl-block">
              <h6 class="card-subtitle my-3 h2 is-family-code">Российский Государственный Педагогический <br> Университет им. А. И. Герцена</h6>
              <hr class="bg-dark">
              <p class="card-text h3 mt-4 is-family-code"><strong>Кафедра информационных технологий <br> и электронного обучения</strong></p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
